.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 50px;
    color:#fff ;
}

.containerImagen{
    background-color: black;
    padding-top: 30px;
}

.containerDatos{
    background-color: black;
}

